@import '../../../colors.scss';

.table-cell-color {
  max-width: 10px;
  min-width: 10px;
  padding: 0;
  width: 10px;

  &-amarillo {
    @extend .table-cell-color;
    background-color: $team-amarillo;
  }

  &-azul {
    @extend .table-cell-color;
    background-color: $team-azul;
  }

  &-morado {
    @extend .table-cell-color;
    background-color: $team-morado;
  }

  &-rojo {
    @extend .table-cell-color;
    background-color: $team-rojo;
  }

  &-verde {
    @extend .table-cell-color;
    background-color: $team-verde;
  }
}
