@import '../generic.scss';

.component {
  padding-bottom: 60px;
}

.details {
  padding: 3px 10px;
  &:nth-child(even) {
    background-color: #ededed;
  }
}

.value {
  display: flex;
  align-items: center;
}
