.table-cell-color {
  width: 10px;
  min-width: 10px;
  max-width: 10px;
  padding: 0;

  &-amarillo {
    @extend .table-cell-color;
    background-color: #d3d300;
  }

  &-azul {
    @extend .table-cell-color;
    background-color: #0000c3;
  }

  &-morado {
    @extend .table-cell-color;
    background-color: #720c72;
  }

  &-rojo {
    @extend .table-cell-color;
    background-color: #da0000;
  }

  &-verde {
    @extend .table-cell-color;
    background-color: #00a800;
  }
}
