.component {
  padding: 15px;
}

.text-input {
  box-sizing: border-box;
  padding-right: 20px;
}

.full-size {
  width: 100%;
}

.half-size {
  width: 50%;
}

.third-size {
  width: 33%;
}

.button-submit {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 100px;
  float: right;
}

.last {
  clear: both;
}
