@import '../../colors.scss';

.container {
  padding-bottom: 20px;
}

.buttons-options {
  width: 100%;
  margin: 0;
}

.button-delete {
  color: $red;
}

.loader {
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex: flex-grow;
  align-items: center;
  justify-content: center;
}
